.container{
    width: 80%;
    flex-grow: 0;
    margin: 30px auto;
}

.input{
    max-width: 80%;
    padding: 0;
    margin: 0 auto;
}

a.navbar-item{
    &:hover{
        color :inherit;
        background-color: transparent;
        text-decoration: none;
    }
}
@media screen and (min-width: 1024px){
    .navbar-end{
        align-items: center;
    }
}

body, button, input, optgroup, select, textarea{
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.control.has-icons-left .icon{
    height: 2.7em;
}

.title:not(:last-child){
    margin-bottom: 6.5rem;
}

.button:focus:not(:active){
    box-shadow: none ;
}
