.container{
    width: 80%;
    flex-grow: 0;
    margin: 30px auto;
}

.input{
    max-width: 95%;
    padding: 0;
}

a.navbar-item{
    &:hover{
        color :inherit;
        background-color: transparent;
        text-decoration: none;
        background-color: hsl(206, 70%, 96%)
    }
}
@media screen and (min-width: 1024px){
    .navbar-end{
        align-items: center;
    }
}

body, button, input, optgroup, select, textarea{
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.control.has-icons-left .icon{
    height: 2.7em;
}