.container{
    width: 80%;
    flex-grow: 0;
    margin: 30px auto;
}

.input{
    max-width: 95%;
    padding: 0;
}

a.navbar-item{
    &:hover{
        color :inherit;
        background-color: transparent;
        text-decoration: none;
    }
}
@media screen and (min-width: 1024px){
    .navbar-start{
        align-items: center;
    }
}

