//Bulma framework
@import "../../../node_modules/bulma/bulma.sass";
//Config
@import "./config/_variable";
@import "./config/_reset";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import "./config/bulmaoverride.scss";
//Default
@import "./config/default.scss";

//Components

@import "./components/header.scss";
@import "./components/video.scss";
@import "./components/shared.scss";
@import "./components/form.scss";
@import "./components/socialAuth.scss";
@import "./components/footer.scss";
@import "./components/video-player.scss";
@import "./components/watch.scss";
@import "./components/news.scss";
@import "./components/dropdown.scss";


//Screens

@import "./screens/home.scss";
@import "./screens/search.scss";
@import "./screens/profile.scss";
@import "./screens/record.scss";

//Single Page

@import "./single/single.scss";


//flash message
@keyframes dissapear {
    from{
        transform: none;
        opacity: 1;
    }to{
        transform: translateY(-100px);
        opacity: 0;
    }
}

.message{
    z-index:9999;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: $--color-light-white;
    width: 100%;
    padding: 20px 0px;
    animation: dissapear $--animation-duration ease-in-out forwards;
    animation-delay: 2s;
    &.error{
        background-color: $--color-pink;
    }
    &.info{
        background-color: $--color-main-blue;
    }
    &.success{
        background-color: $--color-main-blue;
    }
}