.swiper{
    height: 700px;
    margin-bottom: 40px;
    .swiper-slide{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
.swiper-button-prev,.swiper-button-next{
    color: $--color-white-opacity;
}

