.auth__form,.upload__form{
    display: flex;
    margin-bottom: 110px;
    flex-direction: column;  
    height: auto;     
    .upload__form-description{
        height: 100px;
    } 
    input,textarea{
        height: auto;      
        padding: 10px 25px;
        margin-bottom: 5px;
        background-color: $--color-input-bg;
        border: 1px solid $--color-input-bg;
        overflow-wrap: break-word;
        word-break: break-all;
        &:placeholder{
            color: $--color-white-opacity;
        }
        &:not([type="submit"]){
            &:hover,&:focus{
                border: 1px solid $--color-main-blue;
            }
        }
        transition: border $--animation-duration ease;
    }
    input[type="submit"]{
        padding: 10px 20px;
        background-color: $--color-main-blue;
        text-align: center;
        color: white;
    }
}
.upload__form{
    label{
        margin-bottom: 10px;
    }
    .uploadBtn{
        margin-top: 25px;
    }
}
//edit-profile.pug
.profile__form,.upload__form{
    .button{
        width: 97%;
    }
    .input-image{
        display: none;
    }
    .profile__form-avatar,.upload__form-img{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        background-color: $--color-upload-bg;
        margin-bottom: 5px;
        padding: 30px 15px;
        i{
            font-size: 50px;
            margin-bottom: 20px;
        }
    }
    .profile__form-avatar{
        background-color: transparent;
    }
    img,span{
        cursor: pointer;
        margin-bottom: 15px;
        border-radius: 50%;
        width: 60%;
        height: 60%;
    }
    .profile__form-manage{
        display: flex;
    }
    .profile__form-changepassword,.profile__form-leaveaccount{
        text-decoration: underline;
        margin-top: 20px;
        margin-left: 10px;
        color: $--color-dark-grey;
        &:hover{
            color: $--color-main-blue;
        } 
    }
}
.auth__form{
    width: 70%;
    margin: 0 auto;
}
.input{
    max-width: 95%;
}

.edit__form{
    margin-top: 110px;
}