.videoTitle{
    margin-top: 30px;
    margin-bottom: 20px;
    p{
        font-size: $--font-regular;
    }
}

.videoUploader{
    padding: 40px 0px;
    border-top: 1px solid $--color-black-opacity;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .videoUploader__profile{
        display: flex;
        align-items: center;
    }
    .videoUploader__access{
          a{
              color: $--color-white;
              background-color: $--color-main-blue;
              width: auto;
              padding: 10px 30px;
              &:first-child{
                  margin-right: 10px;
              }
          }
    }
}
@media screen and (max-width: 610px) {
    .videoUploader { display: block;}
    .videoUploader__access{margin-top: 10px;}
 }

.videoDescription{
    border-bottom: 1px solid $--color-black-opacity;
    padding-bottom: 40px;
}

.videoInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: $--color-grey;
    font-size: $--font-micro;
    height: 50px;
    .like{
        cursor: pointer;
        i{
            margin-right: 5px;
            position: relative;
            &:hover{
                &.likefalse{
                    &::after{
                        animation: opacity $--animation-duration ease-in-out;
                        content: '이 동영상이 마음에 듭니다.';
                        background-color: $--color-grey;
                        color: $--color-white;
                        clear: both;
                        width: 200px;
                        padding: 10px 5px;
                        border-radius: 5px;
                        text-align: center;
                        position: absolute;
                        top: -40px;
                        right: -40px;
                    }
                }
                &.liketrue{
                    &::after{
                        animation: opacity $--animation-duration ease-in-out;
                        content: '좋아요 취소.';
                        background-color: $--color-grey;
                        color: $--color-white;
                        clear: both;
                        width: 100px;
                        padding: 10px 5px;
                        border-radius: 5px;
                        text-align: center;
                        position: absolute;
                        top: -40px;
                        right: -40px;
                    }
                }
            }
        }
    }
}
@keyframes opacity {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

.video__add-comments{
    display: flex;
    padding-top: 35px;
    padding-bottom: 35px;
    .video__comment-form{
        width: 100%;
        display: flex;
        flex-direction: column;
        textarea{
            cursor: text;
            width: 100%;
            height: 25PX;
            display: block;
            word-break: break-all;
            border-bottom: 1px solid $--color-light-grey;
            animation: border $--animation-duration ease-in-out;
            &:focus{
                border-bottom:  1px solid $--color-main-blue;
            }
        }
    }
    .video__add-comments-btn{
        color: $--color-white;
        background-color: $--color-main-blue;
        padding: 10px 30px;
        width: 30px;
        cursor: pointer;
        margin-top: 5px;
    }
}
.video__comments{
    .comment{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 30px 0px;
        width: inherit;
        .comment-box{
            display: flex;
            width: inherit;
            margin-right: 10px;
        }
        .comment-wrapper{
            .writer{
                margin-bottom: 5px;
                .write-time{
                    margin-left: 7px;
                    color: $--color-grey;
                    font-size: 12px;
                }
            }
            .content{
                span{
                    word-break: break-all;
                    width: 100%;
                    font-weight: $--weight-regular;
                    font-size: 15px;
                    color: $--color-grey;
                }
            }
        }
        .delBtn{
            i{
                cursor: pointer;
            }
        }
    }
}

.profileImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.like__clicked,.liketrue{ //like clicked,liking
    color:$--color-main-blue;
}
.likefalse{
    color: $--color-grey;
}