include mixins/messages

doctype html 
html(lang='ko')
    head
        block head
        title #{pageTitle} | Catch Me
        link(rel="stylesheet" href="/assets/css/styles.css")
        link(rel="icon" href="/img/favicon.ico" type="image/icon")
        link(href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css')
        script(src="https://kit.fontawesome.com/920f3667b2.js" crossorigin="anonymous")
        script(defer src="/assets/js/bulma.js")
    body
        //- 플래시문자
        if messages.error 
            +message("error",messages.error)
        if messages.info 
            +message("info",messages.info)
        if messages.success 
            +message("success",messages.success)
        //- 헤더
        include partials/header.pug 
        //- 메인
        main.container
            block content
        //- 푸터
        include partials/footer.pug
        script(src="/assets/js/main.js")
        block scripts
