extends base.pug

block content 
    if(errorMessage)
            p=errorMessage 
    form(method="POST",autocomplete="off")
        input(name="password",type="password",placeholder="기존 비밀번호",required,autocomplete="new-password")
        input(name="new-password",type="password",placeholder="새 비밀번호",required,autocomplete="new-password")
        input(name="new-password2",type="password",placeholder="새 비밀번호 재입력",required,autocomplete="new-password")
        input(type="submit" value=" 비밀번호 변경하기")