extends base.pug

block content 
    h1.title.is-1.has-text-grey.auth-title 
        i.fas.fa-user 
        span 비밀번호 변경
    .tabs.is-large 
        ul
            li.is-active
                a(href=`edit`) 내정보변경
            li
                a(href=`videos`) 동영상
            li
                a(href=`change-password`) 비밀번호 
            li
                a() 회원탈퇴
    form(method="POST",autocomplete="off").auth__form
        .field 
            p.control.has-icons-left
                input.is-large.input(name="oldPassword",type="password",placeholder="기존 비밀번호",required,autocomplete="new-password")
                span.icon.is-small.is-left 
                    i.fas.fa-lock
        .field 
            p.control.has-icons-left
                input.is-large.input(name="newPassword",type="password",placeholder="새 비밀번호",required,autocomplete="new-password")
                span.icon.is-small.is-left 
                    i.fas.fa-key
        .field 
            p.control.has-icons-left
                input.is-large.input(name="newPasswordConfirmation",type="password",placeholder="새 비밀번호 재입력",required,autocomplete="new-password")
                span.icon.is-small.is-left 
                    i.fas.fa-key
        .field 
            p.control.has-icons-left
                input.button.is-large(type="submit" value=" 비밀번호 변경하기")
    .modal 
        .modal-background 
        .modal-card 
            header.modal-card-head 
                h1.modal-card-title.has-text-weight-medium 회원 탈퇴 안내 *
                button.delete(aria-labl="close")
            section.modal-card-body 
                .modal-content
                    h3.is-size-5.mb-4.has-text-weight-medium [회원탈퇴 약관]
                    p.desciption.has-text-danger-dark 탈퇴 후 관련 정보가 파기되므로, 신중한 탈퇴를 부탁드립니다. *
                    p.desciption 회원탈퇴 신청 전 안내 사항을 확인 해 주세요.
                    p.desciption 회원탈퇴를 신청하시면 현재 로그인 된 아이디는 사용하실 수 없습니다.
                    p.desciption 회원탈퇴를 하더라도, 서비스 약관 및 개인정보 취급방침 동의하에 따라 일정 기간동안 회원 개인정보를 보관합니다.
                
            footer.modal-card-foot 
                button.button.is-success.modalSave I understand
                button.button.modalClose Cancel
        button.modal-close.is-large(aria-label="close")
block scripts
    script(src="/assets/js/myProfile.js")
                