extends base.pug
include mixins/video

block content
    h1.title.is-1.has-text-grey.auth-title 
        i.fas.fa-user 
        span 내정보
    .tabs.is-large 
        ul
            li
                a(href=`profile`) 내정보변경
            li
                a(href=`videos`) 내 동영상
            li
                a(href=`change-password`) 비밀번호            
            li
                a(href=`leave-account`) 회원탈퇴    
    section.hero.is-info.is-medium
        .hero-body 
            img.user-avatar(src=`${loggedInUser.avatarUrl}`)
            p.title #{loggedInUser.name}
            p.subtitle #{loggedInUser.email}
block scripts
    script(src="/assets/js/preview.js")
        