extends base.pug
include mixins/video
block head 
    script(defer src="/assets/js/bulma.js")
block content
    - let n = 0;
    .columns.is-vcentered.is-multiline
        while n < videos.length
            .column.is-one-quarter
                +video(videos[n])
            - n=n+1;
