extends base.pug
include mixins/video

block content
    - let n = 0;
    .container
        .columns.is-vcentered.is-multiline
            while n < videos.length
                .column.is-one-quarter
                    +video(videos[n])
                - n=n+1;
