extends base.pug
include mixins/video

block content
    .container
        .columns.is-vcentered
            .column.has-text-centered
                h1 video1 
            .column.has-text-centered
                h2 video2 
            .column.has-text-centered
                h3 video3 
            .column.has-text-centered
                h4 video4
    div.video-grid
        each video in videos
            +video(video)                      
        else 
            span.empty__message No videos Found
