extends base.pug

block content 
    form(method="POST",autocomplete="off")
        input(name="username",type="text",placeholder="닉네임",required,autocomplete="off")
        input(name="email",type="email",placeholder="이메일",required,autocomplete="off",autocapitalize="off")
        input(name="password",type="password",placeholder="비밀번호",required,autocomplete="new-password")
        input(name="password2",type="password",placeholder="비밀번호 재입력",required,autocomplete="new-password")
        input(name="name",type="text",placeholder="이름",required,autocomplete="chrome-off")
        input(name="location",type="text",placeholder="위치",required,autocomplete="chrome-off")
        input(type="submit",value="회원가입") 
    if(errorMessage)
        p=errorMessage