extends base.pug

block content  
    form(method="POST",autocomplete="off").auth__form
        input(name="email",type="email",placeholder="아이디",required,autocomplete="off",style="display:none")
        input(name="password",type="password",placeholder="비밀번호",required,autocomplete="new-password",style="display:none")
        p(style="display:none") 
        //- display none ㅅㅅ
        .field
            p.control.has-icons-left
                input.input(name="email",type="email",placeholder="아이디(이메일)",required,autocomplete="off")
                span.icon.is-small.is-left
                  i.fas.fa-envelope
        .field 
            p.control.has-icons-left 
                input.input(name="password",type="password",placeholder="비밀번호",required,autocomplete="new-password")
                span.icon.is-small.is-left 
                    i.fas.fa-lock 
        .field 
            p.control 
                input.button(type="submit",value="로그인")      
        br
    div.social__auth
        h3.social__auth-devider
            span or sign in with
        ul.social__auth-links
            li 
                a(href="/users/github/start")
                    img(src="/img/github.png").github
            li 
                a(href="/users/kakao/start")
                    img(src="/img/kakaotalk.png").kakao
            li
                a(href="/users/naver/start")
                    img(src="/img/naver.png").naver
            li
                a(href="/users/google/start")
                    img(src="/img/google.png").google 
        a(href="/join").social__auth__link-join Create a new account 