extends base.pug
include mixins/newsMixin

block content
    h1.title.is-1.has-text-grey.auth-title 
        i.fas.fa-kiwi-bird 
        span NEWS
    - let n = 0;
    .columns.is-vcentered.is-multiline
        while n < news.length
            .column.is-one-quarter
                +news(news[n])
            - n=n+1;