extends base.pug

block content          
    .modal 
        .modal-background 
        .modal-card 
            header.modal-card-head 
                h1.modal-card-title 영상 녹화 안내
                button.delete(aria-labl="close")
            section.modal-card-body 
                .modal-content
                    p.desciption 
                        span 1.&nbsp;
                        span 
                            i.fas.fa-video  &nbsp;(녹화)버튼을 누릅니다
                    img(src="/img/record1.png")
                .modal-content
                    p.desciption 
                        span 2. 공유할 스크린을 선택합니다.
                    img(src="/img/record2.png")
                .modal-content
                    p.desciption 
                        span 3. 오디오 사용 여부를 선택합니다.
                    img(src="/img/record3.png")
                .modal-content
                    p.desciption 
                        span 4.&nbsp;
                        span 
                            i.fas.fa-video-slash  &nbsp;(녹화 중지)버튼을 누르거나 '공유중지' 버튼을 누릅니다
                    img(src="/img/record4.png")
            footer.modal-card-foot 
                button.button.is-success.modalSave I understand
                button.button.modalClose Cancel
        button.modal-close.is-large(aria-label="close")
    h1.title.is-1.has-text-grey.auth-title
        i.far.fa-file-video 
        span VIDEO RECORD
    .container.is-fullhd.recordContainer
        .screen
            video(controls=true)
        .recordContainer-btns
            button#start.button
                i.fas.fa-video
            i.fab.fa-apple.apple-ico
            button#stop(disabled).button
                i.fas.fa-video-slash
block scripts
    script(defer src="/assets/js/videoRecord.js")
    script(defer src="assets/js/bulma.js")
    script(src="/assets/js/preview.js")
    script(src="/assets/js/premodal.js")

    