extends base.pug

block content      
    h1.title.is-1.has-text-grey.auth-title
        i.far.fa-file-video 
        span VIDEO RECORD
    .container.is-fullhd.recordContainer
        .screen
            video(controls=true)
        .recordContainer-btns
            button#start.button
                i.fas.fa-video
            i.fab.fa-apple.apple-ico
            button#stop(disabled).button
                i.fas.fa-video-slash
block scripts
    script(defer src="/assets/js/videoRecord.js")
    