doctype html 
html(lang='ko')
    head 
        title #{pageTitle} | Catch Me
        link(rel="stylesheet" href="/assets/css/styles.css")
        link(rel="icon" href="/img/favicon.ico" type="image/icon")
        script(src="https://kit.fontawesome.com/920f3667b2.js" crossorigin="anonymous")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="job conneting webiste for developer")
        meta(name="author" content="catchme team")
        script(type="module" src="/assets/js/singlePage.js" defer)
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css" integrity="sha512-4rPgyv5iG0PZw8E+oRdfN/Gq+yilzt9rQ8Yci2jJ15rAyBmF0HBE4wFjBkoB72cxBeg63uobaj1UcNt/scV93w==" crossorigin="anonymous" referrerpolicy="no-referrer")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js" integrity="sha512-gSf3NCgs6wWEdztl1e6vUqtRP884ONnCNzCpomdoQ0xXsk06lrxJsR7jX5yM/qAGkPGsps+4bLV5IEjhOZX+gg==" crossorigin="anonymous" referrerpolicy="no-referrer")
    body.single-body
        div.header 
            .top-fixed 
                div.logo
                a(href="/",target="_blank",class="btn-gomain")
        div#fullPage
                .section 
                    div.content
                        div.cont-text
                            h2
                                img(src="/img/firstSectionText.png", alt="그것이 무엇이든 다~있다!")                            
                        div.cont-img
                            img(src="/img/firstSectionPicture.png", alt="그것이 무엇이든 다~있다!").cont-img-small
                .section 
                    div.content
                        div.cont-text
                            div
                                h2
                                    img(src="/img/secondSectionText.png", alt="그것이 무엇이든 다~있다!")
                            p.cont-desc "그동안 갈고닦은 자신의 실력을 보여주세요!"
                            p.cont-desc "catchme 홈페이지에 올리기만 하면 끗!"
                        div.cont-img
                            img(src="/img/secondSectionPicture.png", alt="그것이 무엇이든 다~있다!")
                .section 
                    div.content
                        div.cont-text
                            h2
                                img(src="/img/thirdSectionText.png", alt="그것이 무엇이든 다~있다!")
                            p.cont-desc 비대면 코로나 시대 취업하기 힘드시죠?
                            p.cont-desc catch me를 사용해보세요!
                        div.cont-img
                            img(src="/img/thirdSectionPicture.png", alt="그것이 무엇이든 다~있다!")
                .section 
                    div.content
                        div.cont-text
                            h2
                                img(src="/img/fourthSectionText.png", alt="그것이 무엇이든 다~있다!")                            
                        div.cont-img
                            img(src="/img/fourthSectionPicture.png", alt="그것이 무엇이든 다~있다!")
                
                
                
            
