doctype html 
html(lang='ko')
    head 
        title #{pageTitle} | Catch Me
        link(rel="stylesheet" href="/assets/css/styles.css")
        link(rel="icon" href="/img/favicon.ico" type="image/icon")
        script(src="https://kit.fontawesome.com/920f3667b2.js" crossorigin="anonymous")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="job conneting webiste for developer")
        meta(name="author" content="catchme team")
        script(type="module" src="/assets/js/singlePage.js" defer)
    body.single-body
        button.btn 눌러!
        div.container 
            .top-fixed 
                div.logo
                    div.logo
                a(href="/",target="_blank",class="btn-gomain")
            .section-wrapper
                section
                    div.content
                        div.cont-text
                            h2
                                img(src="/img/maintext1.png", alt="그것이 무엇이든 다~있다!")
                section
                    div.content
                        div.cont-text
                            h2
                                img(src="/img/maintext1.png", alt="그것이 무엇이든 다~있다!")
                        p.cont-desc "3천만 이상이 선택한 배달의 민족,
                        br
                        p.cont-desc 업계 최다 배달가능 업소 보유 중!"
                section
                    div.content
                        div.cont-text
                            h2
                                img(src="/img/maintext1.png", alt="그것이 무엇이든 다~있다!")
                        p.cont-desc "3천만 이상이 선택한 배달의 민족,
                        br
                        p.cont-desc 업계 최다 배달가능 업소 보유 중!"
                        div.human-img
                section
                    div.content
                        div.cont-text
                            h2
                                img(src="/img/maintext1.png", alt="그것이 무엇이든 다~있다!")
                        p.cont-desc "3천만 이상이 선택한 배달의 민족,
                        br
                        p.cont-desc 업계 최다 배달가능 업소 보유 중!"
                        div.human-img
                section
                    div.content
                        div.cont-text
                            h2
                                img(src="/img/maintext1.png", alt="그것이 무엇이든 다~있다!")
                        p.cont-desc "3천만 이상이 선택한 배달의 민족,
                        br
                        p.cont-desc 업계 최다 배달가능 업소 보유 중!"
                        div.human-img
                section
                    div.content
                        div.cont-text
                            h2
                                img(src="/img/maintext1.png", alt="그것이 무엇이든 다~있다!")
                        p.cont-desc "3천만 이상이 선택한 배달의 민족,
                        br
                        p.cont-desc 업계 최다 배달가능 업소 보유 중!"
                        div.human-img
                section
                    div.content
                        div.cont-text
                            h2
                                img(src="/img/maintext1.png", alt="그것이 무엇이든 다~있다!")
                        p.cont-desc "3천만 이상이 선택한 배달의 민족,
                        br
                        p.cont-desc 업계 최다 배달가능 업소 보유 중!"
                        div.human-img
                section
                    div.content
                        div.cont-text
                            h2
                                img(src="/img/maintext1.png", alt="그것이 무엇이든 다~있다!")
                        p.cont-desc "3천만 이상이 선택한 배달의 민족,
                        br
                        p.cont-desc 업계 최다 배달가능 업소 보유 중!"
                        div.human-img
        