extends base.pug

block content
    h1.title.is-1.has-text-grey.auth-title 
        i.fas.fa-cloud-upload-alt
        span VIDEO UPLOAD
    form(method="POST",enctype="multipart/form-data").upload__form
        .columns 
            .column
                label(for="thumb").upload__form-img.label
                    img(src="/img/uploadImg.png",width="200",height="150")#preview-image
                    span 미리보기 이미지
                    span &bull; JPEG 또는 PNG
                    input(type="file",accept="image/*",required,id="thumb",name="thumb").input-image
                label(for="video").upload__form-img.label#video-label 
                    i.fas.fa-cloud-upload-alt
                    span 업로드할 동영상 선택
                    span &bull; MP4
                    input.input.is-small(type="file",accept="video/*",style="display:none;",required,id="video",name="video").input-video
            .column.is-three-fifths
                input.input.is-medium(placeholder="제목을 입력하세요",required,type="text",name="title",maxlength="50",autocomplete="off")
                textarea.input.is-medium(placeholder="영상 소개",name="description").upload__form-description
                input.input.is-medium(placeholder="콤마로 구분됨",maxlength="50",required,type="textarea",name="hashtags",autocomplete="off")
                input.button.is-medium.uploadBtn(value="영상 업로드", type="submit")
block scripts
    script(src="/assets/js/preview.js")