header 
    a(href="/")
        img(src="/img/logo.png").header__logo
    if pageTitle === "Home"
        form(method="GET",action="/search").search__form
            input(type="text",placeholder="검색",name="keyword")
            button(type="submit").search__btn
                i.fas.fa-search
    nav 
        ul                                     
            if loggedIn
                li 
                    a(href=`/users/${loggedInUser._id}/edit`) 내정보
                li 
                    a(href="/users/logout") 로그아웃                        
                li
                    a(href="/videos/upload") 비디오업로드
                li 
                    a(href="/news") 취업뉴스
            else 
                li 
                    a(href="/login") 로그인
                li 
                    a(href="/join") 회원가입
                li 
                    a(href="/single") 메인페이지테스트                        