header.container
    nav.navbar.has-shadow
        div.navbar-brand 
            a(href="/home")
                img(src="/img/logo.png" ).header__logo
            a.navbar-burger#burger
                span
                span
                span
        div.navbar-menu#nav-links.is-size-4
            div.navbar-end.has-text-weight-medium.has-text-centered
                if loggedIn
                    a.navbar-item.has-text-centered(href="/news") 취업뉴스
                    a.navbar-item.has-text-centered(href="/videos/record") 비디오 녹화
                    a.navbar-item.has-text-centered(href="/videos/upload") 비디오 업로드
            div.navbar-end
                div.field.navbar-item
                    if pageTitle === "Catch Me"
                        form(method="GET",action="/search").search__form.control.show
                            input(type="text",placeholder="검색",name="keyword").input.is-large 
                        i.fas.fa-search.showSearchFrom
                    if !loggedIn
                        a.navbar-item.has-background-info-light.loginBtn.has-text-centered(href="/login") 로그인
                    if loggedIn 
                        .dropdown
                            .dropdown-trigger
                                button.button(aria-haspopup='true' aria-controls='dropdown-menu5')
                                    img.user-avatar(src=`${loggedInUser.avatarUrl}`)
                                    span.user-name #{loggedInUser.name}
                                    span.icon.is-small
                                        i.fas.fa-angle-down(aria-hidden='true')
                            #dropdown-menu5.dropdown-menu(role='menu')
                                .dropdown-content
                                    .dropdown-item
                                        a.navbar-item.has-text-centered(href=`/users/${loggedInUser._id}/edit`) 내정보
                                    .dropdown-item
                                        a.navbar-item.has-text-centered(href="/users/logout") 로그아웃                        